RIG_ID=rig-01
CONTROL_URLS=http://benchgrid.internal:8080
LISTEN=:9090
ENDPOINT=http://rig-01.internal:9090
# CPUs reserved for benchmarks. Isolate them on the kernel command line too
# (isolcpus, nohz_full, rcu_nocbs) and keep interrupts off them, or a spec
# that requires isolation will not be placed on this rig.
BENCH_CPUS=1
